<h4>Quick Links:</h4>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-circle"></i><a href="#ptbi-research-assistant" aria-expanded="false" aria-controls="ptbi-research-assistant">Preterm Birth Initiative Research Assistant</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#fnp-program-assistant" aria-expanded="false" aria-controls="fnp-program-assistant">FNP Program Assistant</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#nurse-research-assistant-2" aria-expanded="false" aria-controls="nurse-research-assistant-2">Nurse Research Assistant</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#agpcnp-program-ws-student" aria-expanded="false" aria-controls="agpcnp-program-ws-student">AGPCNP Program Work Study Student</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#center-for-global-health-intern" aria-expanded="false" aria-controls="center-for-global-health-intern">Center for Global Health Intern</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#nurse-research-assistant" aria-expanded="false" aria-controls="nurse-research-assistant">Nurse Research Assistant</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#special-project-assistant" aria-expanded="false" aria-controls="special-project-assistant">Special Projects Assistant</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#admin-assistant-for-global-health-equity" aria-expanded="false" aria-controls="admin-assistant-for-global-health-equity">Administrative Assistant for Division of Global Health Equity</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#student-assistant-for-dept-surgery" aria-expanded="false" aria-controls="student-assistant-for-dept-surgery">Student Assistant for Department of Surgery</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#lab-assistant-helper" aria-expanded="false" aria-controls="lab-assistant-helper">Lab Assistant/Helper</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#finaid-work-study" aria-expanded="false" aria-controls="finaid-work-study">Financial Aid Work Study Student</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#events-special-projects" aria-expanded="false" aria-controls="events-special-projects">Events and Special Projects Assistant</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#food-market" aria-expanded="false" aria-controls="food-market">Student Food Market Assistant</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#reading-partners-tutor" aria-expanded="false" aria-controls="reading-partners-tutor">Reading Partners Literacy Intervention Tutor</a></li>
    <li><i class="fa-li fa fa-circle"></i><a href="#inpatient-pharmacy-intern" aria-expanded="false" aria-controls="inpatient-pharmacy-intern">Inpatient Pharmacy Student Intern</a></li>
  </ul>

<hr class="section-divider">

<br>

<div class="panel panel-default">
  <div class="panel-heading"><a id="ptbi-research-assistant">Preterm Birth Initiative Research Assistant</a>
  </div>
  <table class="table-striped table-responsive">
    <tbody>
      <tr>
        <td>Date posted</td>
        <td>6/18/2018</td>
      </tr>
      <tr>
        <td>Date to apply</td>
        <td>Open until filled</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td><a href="mailto:rebecca.kriz@ucsf.edu">Rebecca Kriz</a></td>
      </tr>
      <tr>
        <td>Employer/Department</td>
        <td>Preterm Birth Initiative California / FHCN</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>3333 California St. Suite 285, San Francisco, CA 94118</td>
      </tr>
      <tr>
        <td>Schedule</td>
        <td>Flexible until project is complete</td>
      </tr>
      <tr>
        <td>Compensation</td>
        <td>$20.00/hour</td>
      </tr>
      <tr>
        <td>Who should apply</td>
        <td>Students who qualify for Federal Work Study program</td>
      </tr>
      <tr>
        <td>About this job</td>
        <td>
          <p>The Preterm Birth Initiative (PTBi) at the University of California, San Francisco (UCSF) is founded on the belief that every child deserves a healthy start, regardless of the circumstances he or she was born into. Generously funded by Marc and Lynne Benioff and the Bill and Melinda Gates Foundation, PTBi is a multi-year, transdisciplinary research effort that unites researchers, clinicians, public health experts, and communities to collaboratively apply innovative ideas and approaches to the epidemic of prematurity.</p>
          <p>The Postnatal Intervention Research Aim seeks to identify effective interventions for premature babies and their families and remove barriers to scale up these effective interventions. As part of the Newborn Family Research Collaborative (NFRC), we have a number of projects that are currently in the process of implementation including Parent Clinician Advisory Boards at our three NFRC sites, and the launch and evaluation of mFICare at Benioff Children’s Hospital-SF and five other sites.</p>
          <p><b>Responsibilities</b></p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Develop wiki sites for a number of NFRC projects including learning how to make a wiki site from other PTBi-CA staff, and organizing information in a way that will make sense to external audiences</li>
            <li><i class="fa-li fa fa-circle"></i>Assist with other administrative tasks in preparation of the launch of mFICare in the BCH-SF ICN</li>
          </ul>
          <p><b>Qualifications</b></p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>High personal motivation, self-management, meticulous attention to detail, and an ability to work under supervision</li>
            <li><i class="fa-li fa fa-circle"></i>Excellent interpersonal, and oral and written communication skills, with an ability to work in large office setting</li>
            <li><i class="fa-li fa fa-circle"></i>Working knowledge of Microsoft Office Suite – Excel and Word</li>
            <li><i class="fa-li fa fa-circle"></i>Comfortable learning new software</li>
            <li><i class="fa-li fa fa-circle"></i>Experience organizing and presenting information to different audiences</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="featurette-divider">

<div class="panel panel-default">
  <div class="panel-heading"><a id="fnp-program-assistant">FNP Program Assistant</a>
  </div>
  <table class="table-striped table-responsive">
    <tbody>
      <tr>
        <td>Date posted</td>
        <td>6/13/2018</td>
      </tr>
      <tr>
        <td>Date to apply</td>
        <td>Open until filled</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td><a href="mailto:elizabeth.gatewood@ucsf.edu">Liz Gatewood</a></td>
      </tr>
      <tr>
        <td>Employer/Department</td>
        <td>Family Health Care Nursing</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>2 Koret Way, 4th Floor; Parnassus Campus</td>
      </tr>
      <tr>
        <td>Schedule</td>
        <td>8 - 20 hours a week</td>
      </tr>
      <tr>
        <td>Compensation</td>
        <td>$20.00/hour</td>
      </tr>
      <tr>
        <td>Who should apply</td>
        <td>Students who qualify for Federal Work Study program</td>
      </tr>
      <tr>
        <td>About this job</td>
        <td>
          <p>The Family Nurse Practitioner program is looking for a motivated and organized SON student to provide program support including grant reporting, archiving, and preceptor support for up to 20 hours/week.</p>
          <p><b>Responsibilities</b>: Data collection for grant reporting. Organize, digitize, and archive documents. Develop appreciation letters for preceptors.</p>
          <p><b>Qualifications</b>: Preference given to enrolled SON student. Dependability. Working knowledge and comfort with MS Office</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="featurette-divider">

<div class="panel panel-default">
  <div class="panel-heading"><a id="nurse-research-assistant-2">Nurse Research Assistant</a>
  </div>
  <table class="table-striped table-responsive">
    <tbody>
      <tr>
        <td>Date posted</td>
        <td>6/13/2018</td>
      </tr>
      <tr>
        <td>Date to apply</td>
        <td>Open until filled</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td><a href="mailto:heather.leutwyler@ucsf.edu">Heather Leutwyler</a></td>
      </tr>
      <tr>
        <td>Employer/Department</td>
        <td>Physiological Nursing</td>
      </tr>
      <tr>
        <td>Schedule</td>
        <td>10 hours per week</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>Parnassus Campus</td>
      </tr>
      <tr>
        <td>Compensation</td>
        <td>$20.00/hour</td>
      </tr>
      <tr>
        <td>Who should apply</td>
        <td>Students who qualify for Federal Work Study program</td>
      </tr>
      <tr>
        <td>About this job</td>
        <td>
          <p>UCSF School of Nursing Associate Professor <a href="https://profiles.ucsf.edu/heather.leutwyler" target="_blank">Heather Leutwyler</a> is conducting a project to evaluate a fitness program for individuals in recovery from drug and/or alcohol use.  The individual in the position will assist in the conduct of a research project: </p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>obtaining informed consent</li>
            <li><i class="fa-li fa fa-circle"></i>facilitating focus group interviews</li>
            <li><i class="fa-li fa fa-circle"></i>entering data, and checking queries and missing data</li>
            <li><i class="fa-li fa fa-circle"></i>transcribing audio recorded focus groups</li>
            <li><i class="fa-li fa fa-circle"></i>data input and analysis</li>
            <li><i class="fa-li fa fa-circle"></i>filing</li>
            <li><i class="fa-li fa fa-circle"></i>other duties as assigned</li>
          </ul>
          <p><b>Required abilities and dispositions</b></p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>High personal motivation, self-management, meticulous attention to detail, and an ability to work under supervision</li>
            <li><i class="fa-li fa fa-circle"></i>Excellent interpersonal, and oral and written communication skills, with an ability to work in large office setting</li>
            <li><i class="fa-li fa fa-circle"></i>Working knowledge of Microsoft Office Suite – Excel and Word</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="featurette-divider">

<div class="panel panel-default">
  <div class="panel-heading"><a id="agpcnp-program-ws-student">AGPCNP Program Work Study Student</a>
  </div>
  <table class="table-striped table-responsive">
    <tbody>
      <tr>
        <td>Date posted</td>
        <td>6/13/2018</td>
      </tr>
      <tr>
        <td>Date to apply</td>
        <td>Open until filled</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td><a href="mailto:pamela.dudzik@ucsf.edu">Pamela Dudzik</a></td>
      </tr>
      <tr>
        <td>Employer/Department</td>
        <td>AGPCNP Program, Community Health Systems</td>
      </tr>
      <tr>
        <td>Schedule</td>
        <td>8 hours per week</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>Parnassus Campus</td>
      </tr>
      <tr>
        <td>Compensation</td>
        <td>$20.00/hour</td>
      </tr>
      <tr>
        <td>Who should apply</td>
        <td>Students who qualify for Federal Work Study program</td>
      </tr>
      <tr>
        <td>About this job</td>
        <td>
          <p>The AGPCNP specialty courses emphasize adult health maintenance and promotion and assessment and management of adults with common health problems including the care of persons with multiple chronic conditions. Practice-based learning experiences (clinical training residencies) provide the student with opportunities to apply the knowledge and skills in their role as primary care provider.</p>
          <p>The AGPCNP program faculty identify and coordinate clinical training residencies for students in a variety of settings. The AGPCNP program seeks an 8 hours /week Summer work-study student assistance to help organize and improve the clinical preceptor process (July 1-September 30).</p>
          <p><b>Responsibilities</b></p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Assist with updating clinical preceptor database and creating a formalized process for securing new preceptors</li>
            <li><i class="fa-li fa fa-circle"></i>Assist in research, analysis, compilation/input of data in Excel</li>
            <li><i class="fa-li fa fa-circle"></i>Other duties as assigned to potentially include identifying and previewing resources for preceptor orientation/engagement/skill development, creating a series of emails, piloting w/ WOS faculty</li>
          </ul>
          <p><b>Required abilities and dispositions</b></p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>High personal motivation, self-management, attention to detail, and an ability to work under supervision</li>
            <li><i class="fa-li fa fa-circle"></i>Excellent interpersonal, oral and written communication skills</li>
            <li><i class="fa-li fa fa-circle"></i>Working knowledge of Microsoft Office Suite – Excel and Word</li>
            <li><i class="fa-li fa fa-circle"></i>Internet research skills</li>
          </ul>
          <p><b>Preferred additional qualities</b></p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Experience working in an office setting</li>
            <li><i class="fa-li fa fa-circle"></i>Experience using Google services</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="featurette-divider">

<div class="panel panel-default">
  <div class="panel-heading"><a id="center-for-global-health-intern">Center for Global Health Intern</a>
  </div>
  <table class="table-striped table-responsive">
    <tbody>
      <tr>
        <td>Date posted</td>
        <td>6/5/2018</td>
      </tr>
      <tr>
        <td>Date to apply</td>
        <td>Open until filled</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td><a href="mailto:kimberly.baltzell@ucsf.edu">Kim Baltzell</a></td>
      </tr>
      <tr>
        <td>Employer/Department</td>
        <td>Center for Global Health</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>While much of the work can be done offset, intern should anticipate meeting with the Center for Global Health team on campus (Parnassus, N431Y) approximately once a week on Tuesday or Thursday</td>
      </tr>
      <tr>
        <td>Schedule</td>
        <td>16 hours a week</td>
      </tr>
      <tr>
        <td>About this job</td>
        <td>
          <p>Our team is looking for a summer intern 16 hours per week to support our global health research. Specifically, we are exploring the expansion of a nurse midwifery training program into Mulanje district, Malawi. Our decision-making will be guided by background on the health system in the district as well as maternal and neonatal morbidity and mortality statistics. A landscape of health facilities as well as staffing configuration are additional areas of research needed. Additional global health related work may be available during the internship. No travel anticipated.</p>
          <p><b>Responsibilities</b></p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Gather data through use of Ministry of Health’s data system and the Malawi Demographic and Health Survey that is available online</li>
            <li><i class="fa-li fa fa-circle"></i>Create graphics with outcomes of maternal and neonatal morbidity and mortality from district</li>
            <li><i class="fa-li fa fa-circle"></i>Perform literature search of relevant data in the region</li>
            <li><i class="fa-li fa fa-circle"></i>Write short paper on background of maternal and neonatal statistics in Mulanje district</li>
            <li><i class="fa-li fa fa-circle"></i>Work with in-country collaborators to obtain additional information about human and material resources in Mulanje District</li>
            <li><i class="fa-li fa fa-circle"></i>Assist team with other global health related activities as needed</li>
          </ul>
          <p><b>Requirements</b></p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Currently enrolled UCSF SON student</li>
            <li><i class="fa-li fa fa-circle"></i>Preference given to students with a public /global health background and/or students with experience analyzing big datasets and/or are midwifery students</li>
            <li><i class="fa-li fa fa-circle"></i>Strong writing skills</li>
            <li><i class="fa-li fa fa-circle"></i>Familiarity with software to create graphics</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="featurette-divider">

<div class="panel panel-default">
  <div class="panel-heading"><a id="nurse-research-assistant">Nurse Research Assistant</a>
  </div>
  <table class="table-striped table-responsive">
    <tbody>
      <tr>
        <td>Date posted</td>
        <td>6/4/2018</td>
      </tr>
      <tr>
        <td>Date to apply</td>
        <td>Open until filled</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td><a href="mailto:Judy.Mastick@ucsf.edu">Judy Mastick</a></td>
      </tr>
      <tr>
        <td>Employer/Department</td>
        <td>Physiological Nursing</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>School of Nursing, 2 Koret Way, N631 (Parnassus Campus)</td>
      </tr>
      <tr>
        <td>Schedule</td>
        <td>10-40 hours a week</td>
      </tr>
      <tr>
        <td>Compensation</td>
        <td>$20.00/hour</td>
      </tr>
      <tr>
        <td>Who should apply</td>
        <td>Students who qualify for Federal Work Study program</td>
      </tr>
      <tr>
        <td>About this job</td>
        <td>
          <p>UCSF School of Nursing Professor Christine Miaskowski, RN, PhD is internationally recognized for her research in the area of symptom management in oncology patients.  Dr. Miaskowski’s program of research has been funded by the NIH for decades.</p>
          <p><b>Responsibilities</b>: Data review and data entry for Cancer Pain Management Intervention Study</p>
          <p><b>Qualifications</b>: Completed pre-licensure coursework, and interest in research</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="featurette-divider">

<div class="panel panel-default">
  <div class="panel-heading"><a id="special-project-assistant">Special Projects Assistant</a>
  </div>
  <table class="table-striped table-responsive">
    <tbody>
      <tr>
        <td>Date posted</td>
        <td>6/1/2018</td>
      </tr>
      <tr>
        <td>Date to apply</td>
        <td>Open until filled</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td><a href="mailto:Melissa.telli@ucsf.edu">Melissa Telli</a></td>
      </tr>
      <tr>
        <td>Employer/Department</td>
        <td>UCSF Dental Center</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>Parnassus Campus</td>
      </tr>
      <tr>
        <td>Compensation</td>
        <td>$20.00/hour</td>
      </tr>
      <tr>
        <td>About this job</td>
        <td>
          <p>UCSF Dental Center is seeking a 10-15 hour/week work study student to assist the Dental Center Administration (DCA) team with projects in two key focus areas: Patient Experience and Business.  The Special Projects Assistant will work under the supervision of the Director of Marketing & Strategic Relations and may receive assignments from other members of the DCA team.  This position will include a set of ongoing responsibilities as well project-based assignments consisting of a series of related tasks.</p>
          <p><b>Responsibilities</b></p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>The Assistant’s will first project will be to fully implement the Dental Center’s patient satisfaction survey. This will include working with vendors to implement electronic surveys and new software for paper survey data collection; coordinating with clinic managers and front desk staff to collect and scan paper survey responses; and working with analysts to aggregate survey data for display in a Tableau dashboard</li>
            <li><i class="fa-li fa fa-circle"></i>On an ongoing basis, ensure that all paper patient satisfaction survey responses are collected and scanned</li>
            <li><i class="fa-li fa fa-circle"></i>On an ongoing basis, ensure promotional assets for Faculty Study Club are created. This includes updating UCSF Dental Center-branded flyer templates and creating registration sites using Qualtrics</li>
            <li><i class="fa-li fa fa-circle"></i>Additional tasks, such as information gathering, research and compiling reports, as assigned</li>
          </ul>
          <p><b>Required abilities and dispositions</b></p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>High personal motivation, self-management and meticulous attention to detail</li>
            <li><i class="fa-li fa fa-circle"></i>Excellent interpersonal, and oral and written communication skills, with an ability to work in teams</li>
            <li><i class="fa-li fa fa-circle"></i>Working knowledge of Microsoft Office Suite</li>
            <li><i class="fa-li fa fa-circle"></i>Interest in learning about the business and operational functions within a clinical enterprise</li>
          </ul>
          <p><b>Preferred</b></p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>A UCSF Dentistry student</li>
            <li><i class="fa-li fa fa-circle"></i>Experience working in business or marketing</li>
            <li><i class="fa-li fa fa-circle"></i>Experience working in a clinical enterprise, such as a doctor/dentist office, hospital or other patient care environment</li>
          </ul>
          <p>If interested, please email resume to: <a href="mailto:melissa.telli@ucsf.edu">Melissa Telli</a>.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="featurette-divider">

<div class="panel panel-default">
  <div class="panel-heading"><a id="admin-assistant-for-global-health-equity">
    Administrative Assistant for Division of Global Health Equity</a>
  </div>
  <table class="table-striped table-responsive">
    <tbody>
      <tr>
        <td>Date posted</td>
        <td>5/21/2018</td>
      </tr>
      <tr>
        <td>Date to apply</td>
        <td>Open until filled</td>
      </tr>
      <tr>
        <td>Employer/Department</td>
        <td>Department of Anesthesia & Perioperative Care</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>Zuckerberg San Francisco General Hospital (ZSFG)</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td><a href="mailto:globalanesthesia@ucsf.edu">Deanna Seid/Michael Lipnick</a></td>
      </tr>
      <tr>
        <td>Compensation</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>About this job</td>
        <td>
          <p>The Department of Anesthesia is one of the largest departments in the School of Medicine at UCSF and has supported global health initiatives and programs for over 25 years. Recently, the Division of Global Health Equity was created in order to support these programs and take on projects focused on health equity both domestically and internationally. Partnerships with Global Partners in Anesthesia and Surgery (GPAS), The Center for Global Surgical Studies, and Operation Rainbow, has allowed for research, education, and policy efforts to improve anesthesia, surgery, and pain services across the world.</p>
          <p>The Division of Global Health Equity is seeking a work study student for an administrative assistant position for a maximum of 20hr/week at the Zuckerberg San Francisco General Hospital. The student will work closely with the Director of the Division of Global Health Equity, as well as other key education staff members and faculty in the department.</p>
          <p>Responsibilities</p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Assist in coordinating scheduled events and meetings for faculty, trainees and students such as Journal Clubs, Visiting Speakers series, and progress meetings</li>
            <li><i class="fa-li fa fa-circle"></i>Data gathering for research and participation in literature reviews of relevant journal articles in Global Health</li>
            <li><i class="fa-li fa fa-circle"></i>Participation in grant research, writing, and review in a collaborative environment with faculty and staff</li>
            <li><i class="fa-li fa fa-circle"></i>Managing timelines and milestones for ongoing projects within the Division of Global Health Equity and special projects as needed by the Division Director.</li>
          </ul>
          <p>Required Qualifications</p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Must be enrolled as a student in the UCSF Global Health Master’s Program (2018-2019 academic year) and qualify for Federal Work Study Program</li>
            <li><i class="fa-li fa fa-circle"></i>High self-motivation, passion, and interest in Global Health issues particularly in research, education, and policy</li>
            <li><i class="fa-li fa fa-circle"></i>Meticulous attention to detail and ability to work under supervision</li>
            <li><i class="fa-li fa fa-circle"></i>Strong interpersonal, oral, and, written communication skills with the ability to work in teams and individually</li>
          </ul>
          <p>Preferred Qualifications</p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Previous experience with grant writing, event coordination, and/or project management</li>
          </ul>
          <p>If interested, please email resume to: <a href="mailto:globalanesthesia@ucsf.edu">globalanesthesia@ucsf.edu</a>.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="featurette-divider">

<div class="panel panel-default">
  <div class="panel-heading"><a id="student-assistant-for-dept-surgery">
    Student Assistant for Department of Surgery</a>
  </div>
  <table class="table-striped table-responsive">
    <tbody>
      <tr>
        <td>Date posted</td>
        <td>5/21/2018</td>
      </tr>
      <tr>
        <td>Date to apply</td>
        <td>Open until filled</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td><a href="mailto:kenzo.hirose@ucsf.edu">Kenzo Hirose MD</a> (administrative assistant: Yvonne Dunkley 415-353-9294) / <a href="mailto:elizabeth.wick@ucsf.edu">Elizabeth Wick MD</a></td>
      </tr>
      <tr>
        <td>Employer/Department</td>
        <td>UCSF Department of Surgery, Education Ofﬁce</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>Surgery Education Ofﬁce, 513 Parnassus Ave Rm S-321.  San Francisco, CA 94143</td>
      </tr>
      <tr>
        <td>Schedule</td>
        <td>12 to 20 hours per week</td>
      </tr>
      <tr>
        <td>Compensation</td>
        <td>$22/hr</td>
      </tr>
      <tr>
        <td>Who should apply</td>
        <td>Students who qualify for Federal Work-Study Program; Students in the School of Medicine or Pharmacy; Students interested in surgical education, quality improvement</td>
      </tr>
      <tr>
        <td>About this job</td>
        <td>
          <p>The UCSF Department of Surgery has initiated a project with the goal of studying opioid prescribing habits among providers in the department, creating an educational intervention about opioid prescribing, and reducing outpatient opioid prescriptions through regular reports and feedback.</p>
          <p>Responsibilities</p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Produce weekly reports of opioid prescribing data through queries of clinical information systems</li>
            <li><i class="fa-li fa fa-circle"></i>Attend meetings and coordinate efforts of the quality improvement team</li>
            <li><i class="fa-li fa fa-circle"></i>Coordinate with the surgical residency education ofﬁce for scheduling of educational sessions</li>
            <li><i class="fa-li fa fa-circle"></i>Assist with data analysis</li>
            <li><i class="fa-li fa fa-circle"></i>Participate in manuscript preparation and publication</li>
            <li><i class="fa-li fa fa-circle"></i>Other projects can be added as time and interest allow, including other departmental educational or quality improvement projects</li>
          </ul>
          <p>Required Qualifications</p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Facility with data management, and use of spreadsheet software such as Microsoft Excel</li>
            <li><i class="fa-li fa fa-circle"></i>Attention to detail, communication skills</li>
            <li><i class="fa-li fa fa-circle"></i>Interest in quality improvement, education, or surgery would be helpful</li>
          </ul>
          <p>If interested, please contact: <a href="mailto:kenzo.hirose@ucsf.edu">Kenzo Hirose MD</a> (administrative assistant: Yvonne Dunkley 415-353-9294) and <a href="mailto:elizabeth.wick@ucsf.edu">Elizabeth Wick MD</a>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="featurette-divider">

<div class="panel panel-default">
  <div class="panel-heading"><a id="lab-assistant-helper">
    Lab Assistant/Helper</a>
  </div>
  <table class="table-striped table-responsive">
    <tbody>
      <tr>
        <td>Date posted</td>
        <td>4/15/2018</td>
      </tr>
      <tr>
        <td>Date to apply</td>
        <td>Open until filled</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td><a href="mailto:Jessica.Wong3@ucsf.edu">Jessica Wong</a></td>
      </tr>
      <tr>
        <td>Employer/Department</td>
        <td>Orthopaedics Research</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>Medical Sciences Building, 513 Parnassus, S-1164</td>
      </tr>
      <tr>
        <td>Schedule</td>
        <td>12 to 20 hours per week, to include Monday, Wednesday, and Friday</td>
      </tr>
      <tr>
        <td>Compensation</td>
        <td>$20.00/hour</td>
      </tr>
      <tr>
        <td>Who should apply</td>
        <td>Students who qualify for Federal Work Study program</td>
      </tr>
      <tr>
        <td>About this job</td>
        <td>
          <p>The Department of Orthopaedic Surgery at UCSF is internationally recognized for its work in patient care, education, and research. Our basic and translational research programs focus on cartilage and disc regeneration, fracture healing, molecular and stem cell biology, bioengineering, and musculoskeletal development. For interesting research details about the work of the lab, see recent <a href="https://www.ucsf.edu/news/2017/07/407806/traveling-mars-will-wreak-havoc-our-bodies" target="_blank">news article</a>.</p>
          <p><b>Responsibilities</b>: Organize supplies, check and track temperatures, and perform routine lab clean-up and restocking duties.</p>
          <p><b>Qualifications</b>: Curiosity and interest in science and lab research. Dependability.</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="featurette-divider">

<div class="panel panel-default">
  <div class="panel-heading"><a id="finaid-work-study">
    Financial Aid Work Study Student</a>
  </div>
  <table class="table-striped table-responsive">
    <tbody>
      <tr>
        <td>Date posted</td>
        <td>4/8/2018</td>
      </tr>
      <tr>
        <td>Date to apply</td>
        <td>Open until filled</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td><a href="mailto:elliot.yau@ucsf.edu">Elliot Yau</a></td>
      </tr>
      <tr>
        <td>Employer/Department</td>
        <td>Student Financial Aid</td>
      </tr>
      <tr>
        <td>Schedule</td>
        <td>10-40 hours per week</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>Parnassus Campus</td>
      </tr>
      <tr>
        <td>Compensation</td>
        <td>$20.00/hour</td>
      </tr>
      <tr>
        <td>Who should apply</td>
        <td>Students who qualify for Federal Work Study program</td>
      </tr>
      <tr>
        <td>About this job</td>
        <td>
          <p>The Office of Student Financial Aid supports students in funding their education at UCSF, and is seeking a 10 to 20 (during academic terms) or up to – 40 hours /week (in the Summer) work-study student.  This student will assist in the support of the Financial Aid staff on projects analyzing and reporting on student debt and repayment of student loans.</p>
          <p>Responsibilities</p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Assists in student loan research, analysis and compilation of data</li>
            <li><i class="fa-li fa fa-circle"></i>Data input and analysis</li>
            <li><i class="fa-li fa fa-circle"></i>Filing</li>
            <li><i class="fa-li fa fa-circle"></i>Other duties as assigned</li>
          </ul>
          <p>Required abilities and dispositions</p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>High personal motivation, self-management, meticulous attention to detail, and an ability to work under supervision</li>
            <li><i class="fa-li fa fa-circle"></i>Excellent interpersonal, and oral and written communication skills, with an ability to work in large office setting</li>
            <li><i class="fa-li fa fa-circle"></i>Working knowledge of Microsoft Office Suite – Excel and Word</li>
          </ul>
          <p>Preferred additional qualities</p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Experience working in an office setting</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="featurette-divider">

<div class="panel panel-default">
  <div class="panel-heading"><a id="events-special-projects">
    Events and Special Projects Assistant</a>
  </div>
  <table class="table-striped table-responsive">
    <tbody>
      <tr>
        <td>Date posted</td>
        <td>4/6/2018</td>
      </tr>
      <tr>
        <td>Date to apply</td>
        <td>Open until filled</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td><a href="mailto:jocelyn.faye@ucsf.edu">Jocelyn Faye</a></td>
      </tr>
      <tr>
        <td>Employer/Department</td>
        <td>School of Dentistry Dean’s Office/Learner Success Center</td>
      </tr>
      <tr>
        <td>Schedule</td>
        <td>As needed, up to 20 hours per week</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>School of Dentistry, Parnassus Campus</td>
      </tr>
      <tr>
        <td>Who should apply</td>
        <td>Students who qualify for Federal Work Study program</td>
      </tr>
      <tr>
        <td>About this job</td>
        <td>
          <p>We are seeking a work study student who can assist with staffing SOD Learner Success Center’s events and special projects.  Depending on the projects/events, responsibilities include:</p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Staff School of Dentistry scheduled events throughout the year (dates/times for events are known in advance), including but not limited to the following: Orientation, White Coat Ceremony, Match Celebration, Regalia Distribution, Recognition Banquet, Commencement, Clinic Induction</li>
            <li><i class="fa-li fa fa-circle"></i>Setup, break down and cleanup of events according to event lead’s specifications</li>
            <li><i class="fa-li fa fa-circle"></i>Provide event support services and assistance</li>
            <li><i class="fa-li fa fa-circle"></i>Proactively handle any arising issues and troubleshoot any emerging problems on the event day</li>
            <li><i class="fa-li fa fa-circle"></i>Work with LSC team to monitor event timelines and ensure deadlines are met</li>
            <li><i class="fa-li fa fa-circle"></i>Work with LSC to coordinate event logistics, including registration and attendee tracking, presentation and materials support and pre- and post-event evaluations</li>
          </ul>
          <p><b>Special Projects</b>: In this position, you will periodically be asked to perform various clerical duties including but not limited to filing, faxing, photocopying, deliveries and distributing documents. You may be asked to produce basic business correspondence and reports for signature by others and perform other miscellaneous tasks as assigned. Additionally, you will be asked to assist with other SOD LSC projects as needed and other duties as assigned.
          </p>
          <p><b>Requirements</b>: We are looking for students, who have the ability to meet the required office hours, excellent interpersonal skills, flexibility, good organization skills, and general computer knowledge. We are also looking for someone who can commit at least 10 hours per week. Preference will be given to students who have some availability in the summer.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="featurette-divider">

<div class="panel panel-default">
  <div class="panel-heading"><a id="food-market">
    Student Food Market Assistant</a>
  </div>
  <table class="table-striped table-responsive">
    <tbody>
      <tr>
        <td>Date posted</td>
        <td>3/1/2018</td>
      </tr>
      <tr>
        <td>Date to apply</td>
        <td>Open until filled</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td><a href="mailto:Alece.Alderson@ucsf.edu">Alece Alderson</a></td>
      </tr>
      <tr>
        <td>Job title</td>
        <td>Student Food Market Assistant</td>
      </tr>
      <tr>
        <td>Employer/Department</td>
        <td>Student Academic Affairs</td>
      </tr>
      <tr>
        <td>Schedule</td>
        <td>Thursdays, 3:00 p.m. - 6:30 p.m.</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>Student Success Center, Millberry Union, Room 100 West</td>
      </tr>
      <tr>
        <td>Who should apply</td>
        <td>Students who qualify for Federal Work Study program</td>
      </tr>
      <tr>
        <td>About this job</td>
        <td>
          <p>The Student Food Market (SFM) provides fresh produce and non-perishable goods to UCSF students. The SFM Assistant will help dedicated staff and volunteers with the set-up of the food to be distributed; assist with the distribution of food; and help with the break-down and clean-up at the close of the SFM.</p>
          <p>For more information, please contact Student Success and First Generation Programs Director,
            Alece Alderson by <a href="mailto:Alece.Alderson@ucsf.edu">email</a> or phone at 415-476-5377.</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="featurette-divider">

<div class="panel panel-default">
  <div class="panel-heading"><a id="reading-partners-tutor">
    Reading Partners Literacy Intervention Tutor</a>
  </div>
  <table class="table-striped table-responsive">
    <tbody>
      <tr>
        <td>Date posted</td>
        <td>1/6/18</td>
      </tr>
      <tr>
        <td>Date to apply</td>
        <td>Open until filled</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td><a href="mailto:allison.rhodes@readingpartners.org">Allison Rhodes</a></td>
      </tr>
      <tr>
        <td>Job title</td>
        <td>Literacy Intervention Tutor</td>
      </tr>
      <tr>
        <td>Employer/Department</td>
        <td>Reading Partners</td>
      </tr>
      <tr>
        <td>Compensation</td>
        <td>$15/hour, including travel time</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>San Francisco and East Bay</td>
      </tr>
      <tr>
        <td>Who should apply</td>
        <td>Students who qualify for Federal Work Study program</td>
      </tr>
      <tr>
        <td>About this job</td>
        <td>
          <p>Background</p>
          <p>
            Reading Partners is a nonprofit organization that works to expand life opportunities for at-risk elementary school children by empowering them with strong literacy skills. We work directly within under-resourced elementary schools, and recruit community members to provide one-on-one literacy tutoring for students who are reading below grade level.
          </p>
          <p>
            We are seeking qualified candidates for our Literacy Intervention Tutor positions, who assist the Reading Partners on-site coordinator with tutoring and administrative support. Students must be eligible for Federal Work Study (FWS) through their financial aid package in order to apply for these paid tutoring positions.
          </p>
          <p>
            Opportunities are available Monday-Thursday from 8am - 6pm (hours vary depending on school site). We are currently seeking UCSF FWS tutors who can commit to working between 2-20 hours/week. Placements are available within multiple San Francisco and East Bay elementary school sites.
          </p>
          <p>
            Responsibilities
          </p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Tutor one-on-one with elementary school students reading below grade level</li>
            <li><i class="fa-li fa fa-circle"></i>Track student progress using Reading Partners tools</li>
            <li><i class="fa-li fa fa-circle"></i>Substitute tutoring, when needed</li>
            <li><i class="fa-li fa fa-circle"></i>Perform administrative duties as needed</li>
            <li><i class="fa-li fa fa-circle"></i>Attend Reading Partners orientation and trainings</li>
          </ul>
          <p>
            Qualifications
          </p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Interest in working with young children who need help learning</li>
            <li><i class="fa-li fa fa-circle"></i>Willingness to learn about tutoring strategies and implement feedback</li>
            <li><i class="fa-li fa fa-circle"></i>Ability to commit to a schedule and shop up promptly when expected</li>
            <li><i class="fa-li fa fa-circle"></i>Ability to work independently or with limited supervision</li>
            <li><i class="fa-li fa fa-circle"></i>Ability to interact effectively with diverse groups</li>
            <li><i class="fa-li fa fa-circle"></i>Ability to pass a Livescan background check and TB test (qualified candidates who undergo the interview process and are hired will be expected to pay up-front for the cost of teh Livescan and TB test - Reading Partners can reimburse for these expenses)</li>
          </ul>
          <p>
            Application Instructions: to apply, please submit the following to Program Operations Manager, <a href="mailto:allison.rhodes@readingpartners.org">Allison Rhodes</a>
          </p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Resume + Cover Letter</li>
            <li><i class="fa-li fa fa-circle"></i>Desired hours/week</li>
            <li><i class="fa-li fa fa-circle"></i>Schedule of availability M-Th 8am-6pm</li>
            <li><i class="fa-li fa fa-circle"></i>Mode of transportation (i.e. car, BART, bus, bike, etc.)</li>
            <li><i class="fa-li fa fa-circle"></i>Desired region - San Francisco / East Bay. See reading center locations at <a href="http://readingpartners.org/location/sf-bay-area/schools/" target="_blank">Reading Partners school locations</a></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="featurette-divider">

<div class="panel panel-default">
  <div class="panel-heading"><a id="inpatient-pharmacy-intern">
    Inpatient Pharmacy Student Intern</a>
  </div>
  <table class="table-striped table-responsive">
    <tbody>
      <tr>
        <td>Date posted</td>
        <td>4/6/17</td>
      </tr>
      <tr>
        <td>Date to apply</td>
        <td>Open until filled</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td><a href="mailto:oliver.hsu@hhs.sccgov.org">Oliver Hsu</a></td>
      </tr>
      <tr>
        <td>Job title</td>
        <td>Inpatient Student Intern</td>
      </tr>
      <tr>
        <td>Employer/Department</td>
        <td>Santa Clara Valley Health and Hospital System</td>
      </tr>
      <tr>
        <td>Compensation</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>Santa Clara</td>
      </tr>
      <tr>
        <td>Who should apply</td>
        <td>UCSF School of Pharmacy student who qualifies for UCSF Work Study program</td>
      </tr>
      <tr>
        <td>About this job</td>
        <td>
          <p>Background</p>
          <p>
            Founded in 1876, Santa Clara Valley Health and Hospital System (SCVH&HS) is a nationally recognized public health care facility located in San Jose that provides a full range of acute care, intensive care, rehabilitation, and ambulatory services. Each year, the hospital cares for thousands of hospitalized patients and handles over 500,000 outpatient and emergency visits. The hospital is dedicated to providing high-quality basic care as well as specialized services. Each year, more than 150 burn victims from the surrounding five-county area receive intensive care and rehabilitation at the hospital’s Regional Burn Center.
          </p>
          <p>
            Medical education is a cornerstone of SCVH&HS’s mission. SCVH&HS has affiliations with the University of the Pacific School of Pharmacy, Touro University College of Pharmacy, UC San Francisco School of Pharmacy, and other professional schools in the San Francisco Bay Area. The hospital has been affiliated with the Stanford University School of Medicine since 1970, training medical residents with some of the region’s more challenging cases. Additionally, SCVH&HS has a thriving ASHP-accredited pharmacy residency program with 10 PGY1 residents and PGY2 specialty residencies in Ambulatory Care, Critical Care, and Health-System Pharmacy Administration.
          </p>
          <p>
            Role
          </p>
          <p>
            The role of the inpatient pharmacy intern is to support various drug distribution services in the inpatient pharmacy. The intern will gain an understanding of operations in an inpatient hospital setting, including experience with unit dose medications, intravenous admixture sterile compounding, and automated dispensing cabinets. As interns gain experience in the inpatient pharmacy, they may be asked to contribute to various quality improvement or safety initiatives.
          </p>
          <p>
            Responsibilities
          </p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Dispensing medications (unit dose and discharge outpatient pharmacy)</li>
            <li><i class="fa-li fa fa-circle"></i>Refilling automated dispensing cabinets and crash carts</li>
            <li><i class="fa-li fa fa-circle"></i>Compounding intravenous medications</li>
            <li><i class="fa-li fa fa-circle"></i>Delivering medications</li>
            <li><i class="fa-li fa fa-circle"></i>Triaging phone calls from nurses and physicians</li>
            <li><i class="fa-li fa fa-circle"></i>Compounding intravenous medications</li>
            <li><i class="fa-li fa fa-circle"></i>Performing patient outreach in our Transitions of Care Program</li>
            <li><i class="fa-li fa fa-circle"></i>Other duties as assigned</li>
          </ul>
          <p>
            Knowledge/Skills/Experience
          </p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Highly motivated individual, a proficient self-learner</li>
            <li><i class="fa-li fa fa-circle"></i>Ability to work independently and problem solve</li>
            <li><i class="fa-li fa fa-circle"></i>Excellent oral and written communication skills</li>
            <li><i class="fa-li fa fa-circle"></i>Excellent interpersonal skills</li>
            <li><i class="fa-li fa fa-circle"></i>Ability to work well in a team with other disciplines in an interdisciplinary environment</li>
          </ul>
          <p>
            Qualifications
          </p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-circle"></i>Have a valid California pharmacy intern license</li>
            <li><i class="fa-li fa fa-circle"></i>Be enrolled at UCSF School of Pharmacy and qualify for the UCSF work study program</li>
            <li><i class="fa-li fa fa-circle"></i>Be able to work on average once a week (usually weekends)</li>
            <li><i class="fa-li fa fa-circle"></i>Schedule is flexible to account for midterms and finals</li>
          </ul>
          <p>
            For questions, please contact Oliver Hsu, PharmD at <a href="mailto:oliver.hsu@hhs.sccgov.org">oliver.hsu@hhs.sccgov.org</a> or 408-885-2319.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
