<!-- DISBURSEMENT -->

<h4><i class="fa fa-exchange" aria-hidden="true"></i> Requirements for Disbursement</h4>

<ul class="fa-ul">
  <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Accept or decline your awards at your <a href="https://saa.ucsf.edu/studentportal/" target="_blank">financial aid portal</a></li>
  <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Register in the quarter for which funds are to be received by filing your a study list at your <a href="https://saa.ucsf.edu/studentportal/" target="_blank">student portal</a></li>
  <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Clear all holds</li>
  <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Check the Documents tab at your <a href="https://saa.ucsf.edu/studentportal/" target="_blank">financial aid portal</a> for any outstanding items</li>
</ul>

<hr class="section-divider">

<h4><i class="fa fa-university" aria-hidden="true"></i> How Funds Are Disbursed</h4>

<ul class="fa-ul">
  <li><i class="fa-li fa fa-check-square-o" aria-hidden="true"></i>Sign-up for Electronic Fund Transfer (EFT). Failure to sign-up may result in the delays and inconveniences associated with mailing. To sign-up, you must:</li>
	  <ol>
	    <li><a href="https://ucsf.afford.com/" target ="_blank">Register to receive Direct (Stafford) and Graduate PLUS Direct Deposit</a></li>
	    <li>Complete <a href="http://controller.ucsf.edu/students/files/Non-Payroll_Direct_Deposit_Request.pdf" target="_blank">Student Direct Deposit Request Form</a></li>
	  </ol>
</ul>
<p>NOTE: Direct deposit of financial aid to your bank account is available for all financial aid, including Direct (Stafford) and Graduate Plus Loans! We recommend choosing the bank account EFT option to receive funds. Choosing the debit card option will involve incurring additional costs if you intend to use the card to pay your UCSF tuition/fee balance.</p>

<hr class="section-divider">

<h4><i class="fa fa-calendar-check-o" aria-hidden="true"></i> When Funds Are Disbursed</h4>
<ul class="fa-ul dropdown">
<li data-toggle="collapse" href="#summer2018"><i class="fa-li fa fa-caret-down" aria-hidden="true"></i>
    <p><strong><a class="accordion-toggle" aria-expanded="false" aria-controls="summer2018"> Summer 2018 Disbursement Schedule</a></strong></p>
  </li>
          <div class="collapse in" id="summer2018">
      <div class="panel-group" id="accordion0" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="summer-dental">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion0" href="#collapse-summer-dental" aria-expanded="true" aria-controls="collapse-summer-dental">
          Dental Programs
              </a>
            </h4>
          </div>
          <div id="collapse-summer-dental" class="panel-collapse collapse" role="tabpanel" aria-labelledby="summer-dental">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program and Level</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Dentistry 3</td>
                    <td>June 15, 2018</td>
                    <td>July 02, 2018</td>
                  </tr>
                  <tr>
                    <td>Dentistry 4</td>
                    <td>June 15, 2018</td>
                    <td>July 02, 2018</td>
                  </tr>
                  <tr>
                    <td>Dental Hygiene</td>
                    <td>June 23, 2018</td>
                    <td>July 10, 2018</td>
                  </tr>
                  <tr>
                    <td>International Dentist 3</td>
                    <td>June 01, 2018</td>
                    <td>June 18, 2018</td>
                  </tr>
                  <tr>
                    <td>International Dentist 4</td>
                    <td>June 19, 2018</td>
                    <td>July 06, 2018</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="summer-dental-postgrad">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion0" href="#collapse-summer-dental-postgrad" aria-expanded="false" aria-controls="collapse-summer-dental-postgrad">
          Dental Postgraduate Programs
              </a>
            </h4>
          </div>
          <div id="collapse-summer-dental-postgrad" class="panel-collapse collapse" role="tabpanel" aria-labelledby="summer-dental-postgrad">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program and Level</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>All Dental Postgrad</td>
                    <td>June 15, 2018</td>
                    <td>July 10, 2018</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="summer-gradac">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion0" href="#collapse-summer-gradac" aria-expanded="false" aria-controls="collapse-summer-gradac">
            Graduate Academic Programs
              </a>
            </h4>
          </div>
          <div id="collapse-summer-gradac" class="panel-collapse collapse" role="tabpanel" aria-labelledby="summer-gradac">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program and Level</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Advanced Training Clinical Research - Masters</td>
                    <td>TBD</td>
                    <td>TBD</td>
                  </tr>
                  <tr>
                    <td>Global Health Sciences - Masters</td>
                    <td>May 31, 2018</td>
                    <td>June 17, 2018</td>
                  </tr>
                  <tr>
                    <td>Healthcare Admin - Masters</td>
                    <td>June 01, 2018</td>
                    <td>June 18, 2018</td>
                  </tr>
                  <tr>
                    <td>Health Policy Law - Masters</td>
                    <td>TBD</td>
                    <td>TBD</td>
                  </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="summer-medical">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion0" href="#collapse-summer-medical" aria-expanded="false" aria-controls="summer-medical">
              Medical Programs
              </a>
            </h4>
          </div>
          <div id="collapse-summer-medical" class="panel-collapse collapse" role="tabpanel" aria-labelledby="summer-medical">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program and Level</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Anticipated Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Medicine 3</td>
                    <td>June 15, 2018</td>
                    <td>June 30, 2018</td>
                  </tr>
                  <tr>
                    <td>Medicine 4</td>
                    <td>June 15, 2018</td>
                    <td>June 30, 2018</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="summer-nursing">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion0" href="#collapse-summer-nursing" aria-expanded="false" aria-controls="collapse-summer-nursing">
          Nursing Programs
              </a>
            </h4>
          </div>
          <div id="collapse-summer-nursing" class="panel-collapse collapse" role="tabpanel" aria-labelledby="summer-nursing">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program and Level</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>MEPN</td>
                    <td>June 12, 2018</td>
                    <td>June 29, 2018</td>
                  </tr>
                  <tr>
                    <td>Nurse Midwifery</td>
                    <td>June 01, 2018</td>
                    <td>June 18, 2018</td>
                  </tr>
                  <tr>
                    <td>Nursing Post MS</td>
                    <td>June 01, 2018</td>
                    <td>June 18, 2018</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="summer-pharmacy">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion0" href="#collapse-summer-pharmacy" aria-expanded="false" aria-controls="collapse-summer-pharmacy">
          Pharmacy Programs
              </a>
            </h4>
          </div>
          <div id="collapse-summer-pharmacy" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-pharmacy">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program and Level</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Pharmacy 1</td>
                    <td>July 13, 2018</td>
                    <td>July 30, 2018</td>
                  </tr>
                  <tr>
                    <td>Pharmacy 4</td>
                    <td>June 15, 2018</td>
                    <td>July 02, 2018</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="summer-pt">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion0" href="#collapse-summer-pt" aria-expanded="false" aria-controls="collapse-summer-pt">
          Physical Therapy Programs
              </a>
            </h4>
          </div>
          <div id="collapse-summer-pt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="summer-pt">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program and Level</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Physical Therapy 1</td>
                    <td>May  25, 2018</td>
                    <td>June 11, 2018</td>
                  </tr>
                  <tr>
                    <td>Physical Therapy 2</td>
                    <td>April 20, 2018</td>
                    <td>May   07, 2018</td>
                  </tr>
                  <tr>
                    <td>Physical Therapy 3</td>
                    <td>May   19, 2018</td>
                    <td>June  05, 2018</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
</div>
  </div>

  <li data-toggle="collapse" href="#fall2018"><i class="fa-li fa fa-caret-down" aria-hidden="true"></i>
    <p><strong><a class="accordion-toggle" aria-expanded="false" aria-controls="fall2018"> Fall 2018 Disbursement Schedule</a></strong></p>
  </li>
    <div class="collapse in" id="fall2018">
      <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Dental Programs
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program and Level</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Dentistry 1</td>
                    <td>September 01, 2018</td>
                    <td>September 18, 2018</td>
                  </tr>
                  <tr>
                    <td>Dentistry 2</td>
                    <td>September 10, 2018</td>
                    <td>September 27, 2018</td>
                  </tr>
                  <tr>
                    <td>Dentistry 3</td>
                    <td>September 07, 2018</td>
                    <td>September 24, 2018</td>
                  </tr>
                  <tr>
                    <td>Dentistry 4</td>
                    <td>September 07, 2018</td>
                    <td>September 24, 2018</td>
                  </tr>
                  <tr>
                    <td>Dental Hygiene</td>
                    <td>September 15, 2018</td>
                    <td>October   02, 2018</td>
                  </tr>
                  <tr>
                    <td>International Dentist 3</td>
                    <td>September 07, 2018</td>
                    <td>September 24, 2018</td>
                  </tr>
                  <tr>
                    <td>International Dentist 4</td>
                    <td>September 07, 2018</td>
                    <td>September 24, 2018</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Dental Postgraduate Programs
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program and Level</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>All Dental Postgrad</td>
                    <td>September 7, 2018</td>
                    <td>September 24, 2018</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Graduate Academic Programs
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program and Level</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Graduate Academic</td>
                    <td>September 10, 2018</td>
                    <td>September 27, 2018</td>
                  </tr>
                  <tr>
                    <td>Advanced Training Clinical Research - Masters</td>
                    <td>TBD</td>
                    <td>TBD</td>
                  </tr>
                  <tr>
                    <td>Biomedical Imaging - Masters</td>
                    <td>September 10, 2018</td>
                    <td>September 27, 2018</td>
                  </tr>
                  <tr>
                    <td>Global Health Sciences - Masters</td>
                    <td>August 19, 2018</td>
                    <td>September 5, 2018</td>
                  </tr>
                  <tr>
                    <td>Healthcare Admin - Masters</td>
                    <td>September 7, 2018</td>
                    <td>September 24, 2018</td>
                  </tr>
                  <tr>
                    <td>Health Policy Law - Masters</td>
                    <td>TBD</td>
                    <td>TBD</td>
                  </tr>
                  <tr>
                    <td>Translational Medicine - Masters</td>
                    <td>August 5, 2018</td>
                    <td>August 22, 2018</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Medical Programs
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program and Level</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Medicine 1</td>
                    <td>July 15, 2018</td>
                    <td>August 1, 2018</td>
                  </tr>
                  <tr>
                    <td>Medicine 2</td>
                    <td>July 27, 2018</td>
                    <td>August 13, 2018</td>
                  </tr>
                  <tr>
                    <td>Medicine 3</td>
                    <td>August 31, 2018</td>
                    <td>September 17, 2018</td>
                  </tr>
                  <tr>
                    <td>Medicine 4</td>
                    <td>August 31, 2018</td>
                    <td>September 17, 2018</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Nursing Programs
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program and Level</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>MEPN</td>
                    <td>September 10, 2018</td>
                    <td>September 27, 2018</td>
                  </tr>
                  <tr>
                    <td>Nurse Midwifery</td>
                    <td>September 10, 2018</td>
                    <td>September 27, 2018</td>
                  </tr>
                  <tr>
                    <td>Nursing MS/Doctoral</td>
                    <td>September 10, 2018</td>
                    <td>September 27, 2018</td>
                  </tr>
                  <tr>
                    <td>Nursing Post MS</td>
                    <td>September 10, 2018</td>
                    <td>September 27, 2018</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Pharmacy Programs
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program and Level</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Pharmacy 1</td>
                    <td>September 21, 2018</td>
                    <td>October 8, 2018</td>
                  </tr>
                  <tr>
                    <td>Pharmacy 2</td>
                    <td>September 10, 2018</td>
                    <td>September 27, 2018</td>
                  </tr>
                  <tr>
                    <td>Pharmacy 3</td>
                    <td>September 10, 2018</td>
                    <td>September 27, 2018</td>
                  </tr>
                  <tr>
                    <td>Pharmacy 4</td>
                    <td>September 14, 2018</td>
                    <td>October 1, 2018</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSeven">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Physical Therapy Programs
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program and Level</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Physical Therapy 1</td>
                    <td>August 18, 2018</td>
                    <td>September 4, 2018</td>
                  </tr>
                  <tr>
                    <td>Physical Therapy 2</td>
                    <td>August 18, 2018</td>
                    <td>September 4, 2018</td>
                  </tr>
                  <tr>
                    <td>Physical Therapy 3</td>
                    <td>August 18, 2018</td>
                    <td>September 4, 2018</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingEight">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">Post Baccalaureate Programs
              </a>
            </h4>
          </div>
          <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Program</th>
                    <th>Deadline to complete disbursement requirements</th>
                    <th>Receipt of funds in bank account</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Medicine PostBac</td>
                    <td>July 27, 2018</td>
                    <td>August 13, 2018</td>
                  </tr>
                  <tr>
                    <td>Dental PostBac</td>
                    <td>July 27, 2018</td>
                    <td>August 13, 2018</td>
                  </tr>
                  <tr>
                    <td>Pharmacy PostBac</td>
                    <td>July 29, 2018</td>
                    <td>August 15, 2018</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>

  <li data-toggle="collapse" href="#winter2019">
    <i class="fa-li fa fa-caret-right" aria-hidden="true"></i>
    <p><strong><a class="accordion-toggle" aria-expanded="false" aria-controls="winter2019"> Winter 2019 Disbursement Schedule</a></strong></p>
  </li>
  <div class="collapse" id="winter2019">
    <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="winter-dental">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-winter-dental" aria-expanded="true" aria-controls="collapse-winter-dental">
        Dental Programs
            </a>
          </h4>
        </div>
        <div id="collapse-winter-dental" class="panel-collapse collapse" role="tabpanel" aria-labelledby="winter-dental">
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Program and Level</th>
                  <th>Deadline to complete disbursement requirements</th>
                  <th>Receipt of funds in bank account</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Dentistry 1</td>
                  <td>December 21, 2018</td>
                  <td>January  07, 2019</td>
                </tr>
                <tr>
                  <td>Dentistry 2</td>
                  <td>December 21, 2018</td>
                  <td>January  07, 2019</td>
                </tr>
                <tr>
                  <td>Dentistry 3</td>
                  <td>December 16, 2018</td>
                  <td>January  02, 2019</td>
                </tr>
                <tr>
                  <td>Dentistry 4</td>
                  <td>December 16, 2018</td>
                  <td>January  02, 2019</td>
                </tr>
                <tr>
                  <td>Dental Hygiene</td>
                  <td>December 22, 2018</td>
                  <td>January  08, 2019</td>
                </tr>
                <tr>
                  <td>International Dentist 3</td>
                  <td>December 16, 2018</td>
                  <td>January  02, 2019</td>
                </tr>
                <tr>
                  <td>International Dentist 4</td>
                  <td>December 16, 2018</td>
                  <td>January  02, 2019</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="winter-dental-postgrad">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-winter-dental-postgrad" aria-expanded="false" aria-controls="collapse-winter-dental-postgrad">
        Dental Postgraduate Programs
            </a>
          </h4>
        </div>
        <div id="collapse-winter-dental-postgrad" class="panel-collapse collapse" role="tabpanel" aria-labelledby="winter-dental-postgrad">
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Program and Level</th>
                  <th>Deadline to complete disbursement requirements</th>
                  <th>Receipt of funds in bank account</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>All Dental Postgrad</td>
                  <td>December 16, 2018</td>
                  <td>January  02, 2019</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="winter-grad-ac">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-winter-grad-ac" aria-expanded="false" aria-controls="collapse-winter-grad-ac">
          Graduate Academic Programs
            </a>
          </h4>
        </div>
        <div id="collapse-winter-grad-ac" class="panel-collapse collapse" role="tabpanel" aria-labelledby="winter-grad-ac">
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Program and Level</th>
                  <th>Deadline to complete disbursement requirements</th>
                  <th>Receipt of funds in bank account</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Graduate Academic</td>
                  <td>December 21, 2018</td>
                  <td>January  07, 2019</td>
                </tr>
                <tr>
                  <td>Advanced Training Clinical Research - Masters</td>
                  <td>TBD</td>
                  <td>TBD</td>
                </tr>
                <tr>
                  <td>Biomedical Imaging - Masters</td>
                  <td>December 21, 2018</td>
                  <td>January  07, 2019</td>
                </tr>
                <tr>
                  <td>Global Health Sciences - Masters</td>
                  <td>December 16, 2018</td>
                  <td>January  02, 2019</td>
                </tr>
                <tr>
                  <td>Healthcare Admin - Masters</td>
                  <td>December 21, 2018</td>
                  <td>January  07, 2019</td>
                </tr>
                <tr>
                  <td>Health Policy Law - Masters</td>
                  <td>TBD</td>
                  <td>TBD</td>
                </tr>
                <tr>
                  <td>Translational Medicine - Masters</td>
                  <td>December 23, 2018</td>
                  <td>January  09, 2019</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="winter-medical">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-winter-medical" aria-expanded="false" aria-controls="collapse-winter-medical">
            Medical Programs
            </a>
          </h4>
        </div>
        <div id="collapse-winter-medical" class="panel-collapse collapse" role="tabpanel" aria-labelledby="winter-medical">
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Program and Level</th>
                  <th>Deadline to complete disbursement requirements</th>
                  <th>Receipt of funds in bank account</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Medicine 1</td>
                  <td>October 27, 2018</td>
                  <td>November 13, 2018</td>
                </tr>
                <tr>
                  <td>Medicine 2</td>
                  <td>October 27, 2018</td>
                  <td>November 13, 2018</td>
                </tr>
                <tr>
                  <td>Medicine 3</td>
                  <td>December 21, 2018</td>
                  <td>December 31, 2018</td>
                </tr>
                <tr>
                  <td>Medicine 4</td>
                  <td>December 21, 2018</td>
                  <td>December 31, 2018</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="winter-nursing">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-winter-nursing" aria-expanded="false" aria-controls="collapse-winter-nursing">
        Nursing Programs
            </a>
          </h4>
        </div>
        <div id="collapse-winter-nursing" class="panel-collapse collapse" role="tabpanel" aria-labelledby="winter-nursing">
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Program and Level</th>
                  <th>Deadline to complete disbursement requirements</th>
                  <th>Receipt of funds in bank account</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>MEPN</td>
                  <td>December 21, 2018</td>
                  <td>January  07, 2019</td>
                </tr>
                <tr>
                  <td>Nurse Midwifery</td>
                  <td>December 21, 2018</td>
                  <td>January  07, 2019</td>
                </tr>
                <tr>
                  <td>Nursing MS/Doctoral</td>
                  <td>December 21, 2018</td>
                  <td>January 07, 2019</td>
                </tr>
                <tr>
                  <td>Nursing Post MS</td>
                  <td>December 21, 2018</td>
                  <td>January  07, 2019</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="winter-pharmacy">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-winter-pharmacy" aria-expanded="false" aria-controls="collapse-winter-pharmacy">
        Pharmacy Programs
            </a>
          </h4>
        </div>
        <div id="collapse-winter-pharmacy" class="panel-collapse collapse" role="tabpanel" aria-labelledby="winter-pharmacy">
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Program and Level</th>
                  <th>Deadline to complete disbursement requirements</th>
                  <th>Receipt of funds in bank account</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Pharmacy 1</td>
                  <td>December 21, 2018</td>
                  <td>January  07, 2019</td>
                </tr>
                <tr>
                  <td>Pharmacy 2</td>
                  <td>December 21, 2018</td>
                  <td>January  07, 2019</td>
                </tr>
                <tr>
                  <td>Pharmacy 3</td>
                  <td>December 21, 2018</td>
                  <td>January  07, 2019</td>
                </tr>
                <tr>
                  <td>Pharmacy 4</td>
                  <td>December 21, 2018</td>
                  <td>January  07, 2019</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="winter-physical-therapy">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-winter-physical-therapy" aria-expanded="false" aria-controls="collapse-winter-physical-therapy">
        Physical Therapy Programs
            </a>
          </h4>
        </div>
        <div id="collapse-winter-physical-therapy" class="panel-collapse collapse" role="tabpanel" aria-labelledby="winter-physical-therapy">
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Program and Level</th>
                  <th>Deadline to complete disbursement requirements</th>
                  <th>Receipt of funds in bank account</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Physical Therapy 1</td>
                  <td>December 17, 2018</td>
                  <td>January  03, 2019</td>
                </tr>
                <tr>
                  <td>Physical Therapy 2</td>
                  <td>December 17, 2018</td>
                  <td>January  03, 2019</td>
                </tr>
                <tr>
                  <td>Physical Therapy 3</td>
                  <td>December 17, 2018</td>
                  <td>January  03, 2019</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="postbac">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-postbac" aria-expanded="false" aria-controls="collapse-postbac">Post Baccalaureate Programs
            </a>
          </h4>
        </div>
        <div id="collapse-postbac" class="panel-collapse collapse" role="tabpanel" aria-labelledby="postbac">
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Program</th>
                  <th>Deadline to complete disbursement requirements</th>
                  <th>Receipt of funds in bank account</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Medicine PostBac</td>
                  <td>December 23, 2018</td>
                  <td>January  09, 2019</td>
                </tr>
                <tr>
                  <td>Dental PostBac</td>
                  <td>December 23, 2018</td>
                  <td>January  09, 2019</td>
                </tr>
                <tr>
                  <td>Pharmacy PostBac</td>
                  <td>December 24, 2018</td>
                  <td>January  10, 2019</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

  <li data-toggle="collapse" href="#spring2019">
    <i class="fa-li fa fa-caret-right" aria-hidden="true"></i>
    <p><strong><a class="accordion-toggle" aria-expanded="false" aria-controls="spring2018"> Spring 2019 Disbursement Schedule</a></strong></p>
  </li>
  <div class="collapse" id="spring2019">
    <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="spring-dental">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapse-spring-dental" aria-expanded="true" aria-controls="collapse-spring-dental">
        Dental Programs
            </a>
          </h4>
        </div>
        <div id="collapse-spring-dental" class="panel-collapse collapse" role="tabpanel" aria-labelledby="spring-dental">
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Program and Level</th>
                  <th>Deadline to complete disbursement requirements</th>
                  <th>Receipt of funds in bank account</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Dentistry 1</td>
                  <td>March 15, 2019</td>
                  <td>April 01, 2019</td>
                </tr>
                <tr>
                  <td>Dentistry 2</td>
                  <td>March 15, 2019</td>
                  <td>April 01, 2019</td>
                </tr>
                <tr>
                  <td>Dentistry 3</td>
                  <td>March 15, 2019</td>
                  <td>April 01, 2019</td>
                </tr>
                <tr>
                  <td>Dentistry 4</td>
                  <td>March 15, 2019</td>
                  <td>April 01, 2019</td>
                </tr>
                <tr>
                  <td>Dental Hygiene</td>
                  <td>March 16, 2019</td>
                  <td>April 02, 2019</td>
                </tr>
                <tr>
                  <td>International Dentist 3</td>
                  <td>March 15, 2019</td>
                  <td>April 2, 2018</td>
                </tr>
                <tr>
                  <td>International Dentist 4</td>
                  <td>March 15, 2019</td>
                  <td>April 01, 2019</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="spring-dental-postgrad">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapse-spring-dental-postgrad" aria-expanded="false" aria-controls="collapse-spring-dental-postgrad">
        Dental Postgraduate Programs
            </a>
          </h4>
        </div>
        <div id="collapse-spring-dental-postgrad" class="panel-collapse collapse" role="tabpanel" aria-labelledby="spring-dental-postgrad">
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Program and Level</th>
                  <th>Deadline to complete disbursement requirements</th>
                  <th>Receipt of funds in bank account</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>All Dental Postgrad</td>
                  <td>March 15, 2019</td>
                  <td>April 01, 2019</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="spring-grad-ac">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapse-spring-grad-ac" aria-expanded="false" aria-controls="collapse-spring-grad-ac">
          Graduate Academic Programs
            </a>
          </h4>
        </div>
        <div id="collapse-spring-grad-ac" class="panel-collapse collapse" role="tabpanel" aria-labelledby="spring-grad-ac">
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Program and Level</th>
                  <th>Deadline to complete disbursement requirements</th>
                  <th>Receipt of funds in bank account</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Graduate Academic</td>
                  <td>March 15, 2019</td>
                  <td>April 01, 2019</td>
                </tr>
                <tr>
                  <td>Advanced Training Clinical Research - Masters</td>
                  <td>TBD</td>
                  <td>TBD</td>
                </tr>
                <tr>
                  <td>Biomedical Imaging - Masters</td>
                  <td>March 15, 2019</td>
                  <td>April 01, 2019</td>
                </tr>
                <tr>
                  <td>Global Health Sciences - Masters</td>
                  <td>March 01, 2019</td>
                  <td>March 18, 2019</td>
                </tr>
                <tr>
                  <td>Global Health Sciences - PhD</td>
                  <td>March 15, 2019</td>
                  <td>April 01, 2019</td>
                </tr>
                <tr>
                  <td>Healthcare Admin - Masters</td>
                  <td>March 15, 2019</td>
                  <td>April 01, 2019</td>
                </tr>
                <tr>
                  <td>Health Policy Law - Masters</td>
                  <td>March 31, 2019</td>
                  <td>April 17, 2019</td>
                </tr>
                <tr>
                  <td>Translational Medicine - Masters</td>
                  <td>March 16, 2019</td>
                  <td>April 02, 2019</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="spring-medical">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapse-spring-medical" aria-expanded="false" aria-controls="collapse-spring-medical">
            Medical Programs
            </a>
          </h4>
        </div>
        <div id="collapse-spring-medical" class="panel-collapse collapse" role="tabpanel" aria-labelledby="spring-medical">
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Program and Level</th>
                  <th>Deadline to complete disbursement requirements</th>
                  <th>Receipt of funds in bank account</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Medicine 1</td>
                  <td>February 08, 2019</td>
                  <td>February 25, 2019</td>
                </tr>
                <tr>
                  <td>Medicine 2</td>
                  <td>February 08, 2019</td>
                  <td>February 25, 2019</td>
                </tr>
                <tr>
                  <td>Medicine 3</td>
                  <td>March 15, 2019</td>
                  <td>March 31, 2019</td>
                </tr>
                <tr>
                  <td>Medicine 4</td>
                  <td>March 15, 2019</td>
                  <td>March 31, 2019</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="spring-nursing">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapse-spring-nursing" aria-expanded="false" aria-controls="collapse-spring-nursing">
        Nursing Programs
            </a>
          </h4>
        </div>
        <div id="collapse-spring-nursing" class="panel-collapse collapse" role="tabpanel" aria-labelledby="spring-nursing">
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Program and Level</th>
                  <th>Deadline to complete disbursement requirements</th>
                  <th>Receipt of funds in bank account</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>MEPN</td>
                  <td>March 15, 2019</td>
                  <td>April 01, 2019</td>
                </tr>
                <tr>
                  <td>Nurse Midwifery</td>
                  <td>March 15, 2019</td>
                  <td>April 01, 2019</td>
                </tr>
                <tr>
                  <td>Nursing MS/Doctoral</td>
                  <td>March 15, 2019</td>
                  <td>April 01, 2019</td>
                </tr>
                <tr>
                  <td>Nursing Post MS</td>
                  <td>March 15, 2019</td>
                  <td>April 01, 2019</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="spring-pharmacy">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapse-spring-pharmacy" aria-expanded="false" aria-controls="collapse-spring-pharmacy">
        Pharmacy Programs
            </a>
          </h4>
        </div>
        <div id="collapse-spring-pharmacy" class="panel-collapse collapse" role="tabpanel" aria-labelledby="spring-pharmacy">
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Program and Level</th>
                  <th>Deadline to complete disbursement requirements</th>
                  <th>Receipt of funds in bank account</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Pharmacy 1</td>
                  <td>March 08, 2019</td>
                  <td>March 25, 2019</td>
                </tr>
                <tr>
                  <td>Pharmacy 2</td>
                  <td>March 15, 2019</td>
                  <td>April 01, 2019</td>
                </tr>
                <tr>
                  <td>Pharmacy 3</td>
                  <td>March 15, 2019</td>
                  <td>April 01, 2019</td>
                </tr>
                <tr>
                  <td>Pharmacy 4</td>
                  <td>March 15, 2019</td>
                  <td>April 01, 2019</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="spring-physical-therapy">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapse-spring-physical-therapy" aria-expanded="false" aria-controls="collapse-spring-physical-therapy">
        Physical Therapy Programs
            </a>
          </h4>
        </div>
        <div id="collapse-spring-physical-therapy" class="panel-collapse collapse" role="tabpanel" aria-labelledby="spring-physical-therapy">
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Program and Level</th>
                  <th>Deadline to complete disbursement requirements</th>
                  <th>Receipt of funds in bank account</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Physical Therapy 1</td>
                  <td>March 15, 2019</td>
                  <td>April 01, 2019</td>
                </tr>
                <tr>
                  <td>Physical Therapy 2</td>
                  <td>March 15, 2019</td>
                  <td>April 2, 2018</td>
                </tr>
                <tr>
                  <td>Physical Therapy 3</td>
                  <td>February 22, 2019</td>
                  <td>March 11, 2019</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="spring-postbac">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapse-spring-postbac" aria-expanded="false" aria-controls="collapse-spring-postbac">Post Baccalaureate Programs
            </a>
          </h4>
        </div>
        <div id="collapse-spring-postbac" class="panel-collapse collapse" role="tabpanel" aria-labelledby="spring-postbac">
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Program</th>
                  <th>Deadline to complete disbursement requirements</th>
                  <th>Receipt of funds in bank account</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Medicine PostBac</td>
                  <td>March 15, 2019</td>
                  <td>April 01, 2019</td>
                </tr>
                <tr>
                  <td>Dental PostBac</td>
                  <td>March 15, 2019</td>
                  <td>April 01, 2019</td>
                </tr>
                <tr>
                  <td>Pharmacy PostBac</td>
                  <td>March 17, 2019</td>
                  <td>April 03, 2019</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</ul>
