<!-- UNIVESITY GRANTS & SCHOLARSHIPS -->

<h4>Need-Based Grants</h4>

    <p>Each professional school, as well as the University of California, Office of the President (UCOP) provides UCSF with grant funds to give to needy students. In awarding grants, the Student Financial Aid Office tries to ensure that all eligible students receive comparable amounts of need-based "gift aid" regardless of their curriculum. Make sure to apply for Full Funding to be eligible for the most grant possible.</p>
    <p>Graduate Academic students usually receive significant departmental fellowship or stipend awards and will not be awarded a need-based Grant.</p>
    <hr class="section-divider">

    <h4>UCSF Scholarships</h4>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-circle" aria-hidden="true"></i><strong>Regents Scholarship</strong></li>
        <p>Limited in number, Regents Scholarships are one of the highest honors conferred on a UC student and are awarded on the basis of academic excellence and exceptional promise.  Eligible students in dentistry, medicine, pharmacy, and physical therapy are automatically considered by their program.</p>
      <li><i class="fa-li fa fa-circle" aria-hidden="true"></i><strong>Professional School Scholarships and Other Campus Scholarships</strong></li>
        <p>Awarded on the basis of need, these awards are part of the student's financial aid "package." Make sure to apply for Full Funding to be considered.</p>
    </ul>
    <hr class="section-divider">

<h4>Federal Pell Grant</h4>

    <p>This is an undergraduate program which provides grants to the neediest students. The following UCSF students may be eligible and are required to apply:</p>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-circle" aria-hidden="true"></i>Entering pharmacy students who have fewer than 135 quarter or 90 semester units and will not have a bachelor's degree by September of their first fall quarter.</li>
    </ul>
    <p>To apply, complete and submit the <a href="https://netpartner.ucsf.edu/netpartnerstudent" target="_blank">UCSF Finaid/COLS Application</a> and also file the <a href="http://fafsa.ed.gov/" target="_blank">FAFSA</a>.</p>
