<!-- UNDERSTANDING CREDIT -->

  <h4>Credit Reports</h4>
    <p>Credit reports are like your transcripts on which creditors report your payment behaviors. There are three major agencies that track all of your credit history.</p>
    <ol>
      <li><a href="http://www.equifax.com/home/" target="_blank">Equifax</a></li>
      <li><a href="http://www.experian.com/" target="_blank">Experian</a></li>
      <li><a href="http://www.transunion.com/" target="_blank">TransUnion</a></li>
    </ol>
    <p>You are allowed to request a free credit report once a year. The only official website where you can do so is <a href="https://www.annualcreditreport.com/index.action" target="_blank">Annual Credit Report</a>.</p>

  <h4>Credit Scores</h4>
    <p>If your credit report is like a transcript, credit scores are like the GPA. If your report is good, your score will be too. When you apply for credit, such as a mortgage, creditors use your score as a starting point in determining the interest rate they are willing to offer you.</p>
  	<p>According to <a href="https://www.vantagescore.com/" target="_blank">VantageScore</a>, the major factors impacting your score include the following:</p>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-circle"></i>Payment History: Paying on time can be more impactful than paying off the full balance.</li>
      <li><i class="fa-li fa fa-circle"></i>Depth of Credit: Not just revolving credit such as credit cards, but installment debt such as a student loan, can show your ability to manage debt over time.</li>
      <li><i class="fa-li fa fa-circle"></i>Utilization of Credit: If you max out your credit cards each month, you may be viewed as a risk if given more credit to spend.</li>
      <li><i class="fa-li fa fa-circle"></i>Outstanding Balances: What is your debt-to-income ratio? Are your credit cards always carrying a balance?</li>
    </ul>
